@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Regular 400 */
@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/instrument-sans/InstrumentSans-Regular.woff2') format('woff2');
}

/* Medium 500 */
@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/instrument-sans/InstrumentSans-Medium.woff2') format('woff2');
}

/* SemiBold 600 */
@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/instrument-sans/InstrumentSans-SemiBold.woff2') format('woff2');
}

/* Bold 700 */
@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/instrument-sans/InstrumentSans-Bold.woff2') format('woff2');
}

body {
    font-family:
        'Instrument Sans',
        system-ui,
        -apple-system,
        sans-serif;
}
